<h3> Listing Projects </h3>
<h4> Total projects : <%= @projects.size %> </h4>
<table border="1">
<thead>
	<tr>
		<th> Name </th>
		<th> Client </th>
		<th> Start date </th>
		<th> End date </th>
	</tr>
</thead>

<tbody>
	<% @projects.each do |project| %>
		<tr>
			<td> <%= project.name %> </td>
			<td> <%= Client.find(project.client_id).name %> </td>
			<td> <%= project.start_date.strftime("%A, %d, %B %Y") %> </td>
			<td> <%= project.end_date.strftime("%A, %d, %b %y") %> </td>
		</tr>
	<% end %>
</tbody>
